<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/index.css">
    <title>Input Page</title>
</head>
<body>
    <h1> Input Page </h1>
    
    <form action "/" method="post" class="inputs" >
       
        <input name="studentName" type="text" placeholder="students Name"> 

      
        <input name="studentNumber" type="text" placeholder="Students Number" > 

        
        <input name="programStartDate" type="date" placeholder="Date of Enrolment" > 

        <select name="mentorName" aria-placeholder="MentorName" >
            <option value="Angel">Angel</option>
            <option value="Yash Tangri">YashTangri</option>
            <option value="Darren">Darren</option>
            <option value="Yash Dugriyal">Yash Dugriyal</option>
            <option value="Ayush Mishra">Ayush Mishra</option>
            <option value="Bhibhuti Jha">Bhibuti Jha</option>
            <option value="Sahil Kumar">Sahil Kumar</option>
            <option value="Vidya Mishra">Vidya Mishra</option>
            
        </select>  <br>  <br>

        <button name="addstudent" type="submit" >Add Student</button>
    </form>

    <br>


    <form class = "currentlyEnrolled" action = "/currentlyEnrolled" method="post" >

        <button type="submit" > CurrentEnroled </button>
    </form>

    <form class="mentorsort" action = "/mentorSort" method="post" > <br>
        <button type="submit" > Search By Mentor </button>
       
    </form>



</body>
</html>